#setup {
  font-family: sans-serif;
  text-align: center;
}

#setup.hidden,
#setup label {
  display: none;
}

#setup input,
#setup select {
  font-size: 1.1em;
  margin: 0;
  padding: 5px;
  width: 300px;
}

#setup select {
  -webkit-appearance: menulist-button;
}

#setup button {
  font-size: 1.1em;
  padding: 5px;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(400px, auto);
}

#container.hidden {
  display: none;
}

#bandwidth-inbound {
  grid-column: 1;
  grid-row: 1;
}

#bandwidth-outbound {
  grid-column: 2;
  grid-row: 1;
}

#cpu-usage {
  grid-column: 1;
  grid-row: 2;
}

#memory-usage {
  grid-column: 2;
  grid-row: 2;
}
