#setup.hidden {
  display: none;
}

#container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 10px;
  grid-auto-rows: minmax(400px, auto);
}

#container.hidden {
  display: none;
}

#bandwidth-inbound {
  grid-column: 1;
  grid-row: 1;
}

#bandwidth-outbound {
  grid-column: 2;
  grid-row: 1;
}

#cpu-usage {
  grid-column: 1;
  grid-row: 2;
}

#memory-usage {
  grid-column: 2;
  grid-row: 2;
}
