nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

nav li {
  display: inline-block;
  margin-left: 1em;
}

nav a {
  text-decoration: underline;
}

nav a.active {
  text-decoration: none;
}
